@model List<DataRooms.UI.Models.FolderPermission>

@if (Model.Count == 0)
{
    <div>No Permissions found for this folder..</div>
}
else
{
    <div class="row" style="border-bottom:1px solid orangered;padding:5px;margin-left:0px;margin-right:0px;">
        <div class="col-lg-4">
            <label><b>SharBox</b></label>
            <div>
                <input type="hidden" value="@Model[0].DataRoomId" id="hdnFolderPermissionDataRoomId" />
                <span>@Model[0].DataRoomName</span>
            </div>
        </div>
        <div class="col-lg-4">
            <label><b>Folder</b></label>
            <div>
                <input type="hidden" value="@Model[0].FolderId" id="hdnFolderPermissionFolderId" />
                <span>@Model[0].FolderName</span>
            </div>
        </div>
    </div>


    <div class="row" id="divFolderPermissionControls" style="background-color:#ede2e2;display:none;margin-top:20px;margin-left:0px;margin-right:0px;">
        <div class="col-lg-3">
            <label>User</label>
            <div>
                <span><b id="bFolderPermissionUser"></b></span>
                <input type="hidden" id="hdnFolderPermissionId" />
            </div>
        </div>
        <div class="col-lg-5">
            <label>Permissions</label>
            <div class="row">
                <div class="col-lg-3">
                    <span>Full</span>
                    <input type="checkbox" id="chkFolderPermissionFull" />
                </div>
                <div class="col-lg-3">
                    <span>Read</span>
                    <input type="checkbox" id="chkFolderPermissionRead" />
                </div>
                <div class="col-lg-3">
                    <span>Write</span>
                    <input type="checkbox" id="chkFolderPermissionWrite" />
                </div>
                <div class="col-lg-3">
                    <span>Delete</span>
                    <input type="checkbox" id="chkFolderPermissionDelete" />
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <label>Is Active</label>
            <div>
                <input type="checkbox" id="chkFolderPermissionIsActive" />
            </div>
        </div>
        <div class="col-lg-2">
            <div>
                <input type="button" class="btn btn-secondary" style="margin-top:10px;" value="Save" id="btnFolderPermissionEdit" />
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:10px;margin-right:0px;margin-left:0px;border-top:1px solid grey">
        <div class="col-lg-12" style="overflow:auto" id="divFolderPermissionListPart">
            <div class="row">
                <div class="col-lg-6" align="left">
                    <h5><b>Folder Permissions</b></h5>
                </div>
                <div class="col-lg-6" align="right">
                    <label>Search : </label>
                    <input type="text" id="txtFolderPermissionSearch" placeholder="Search with User Name.." />
                </div>
            </div>
            <table class="table table-bordered" id="tblFolderPermissions" width="50%" cellspacing="0">
                <thead class="tbl-header">
                    <tr>
                        <th>S.No.</th>
                        <th>User</th>
                        <th>Permission</th>
                        <th>Is Active</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() > 0)
                    {
                        int i = 1;
                        foreach (var permission in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td class="tdFolderPermissionUserName">
                                    @permission.UserName
                                </td>
                                @{
                                    List<string> permissions = new List<string>();
                                    if (permission.HasFullControl == true)
                                    {
                                        permissions.Add("Full Control");
                                    }
                                    if (permission.HasRead == true)
                                    {
                                        permissions.Add("Read");
                                    }
                                    if (permission.HasWrite == true)
                                    {
                                        permissions.Add("Write");
                                    }
                                    if (permission.HasDelete == true)
                                    {
                                        permissions.Add("Delete");
                                    }
                                }
                                <td>@string.Join(",", permissions)</td>
                                <td>@(permission.IsActive == true ? "Yes" : "No")</td>
                                <td style="cursor:pointer"><i class="fas fa-fw fa-edit theme editFolderPermission" data-id="@permission.Id" data-fullcontrol="@permission.HasFullControl" data-read="@permission.HasRead" data-write="@permission.HasWrite" data-delete="@permission.HasDelete" data-isactive="@permission.IsActive"></i></td>
                                <td style="cursor:pointer"><i class="fas fa-fw fa-trash text-red deleteFolderPermission" data-username="@permission.UserName" data-id="@permission.Id"></i></td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">No Folders Found..</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#txtFolderPermissionSearch').keyup(function () {
                search_table($(this).val());
            });
            function search_table(value) {
                $('#tblFolderPermissions tr').each(function () {
                    var found = 'false';
                    $(this).each(function () {
                        if ($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0) {
                            found = 'true';
                        }
                    });
                    if (found == 'true') {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });
            }
        });

    </script>

    <script>
    $(document).on("click", ".editFolderPermission", function () {
        var user = $(this).parent().parent().find(".tdFolderPermissionUserName").text();
        var full = $(this).attr("data-fullcontrol");
        var read = $(this).attr("data-read");
        var write = $(this).attr("data-write");
        var delte = $(this).attr("data-delete");
        var isactive = $(this).attr("data-isactive");
        var id = $(this).attr("data-id");
        $("#hdnFolderPermissionId").val(id);
        $("#bFolderPermissionUser").text(user);
        if (full == "True") {
            $("#chkFolderPermissionFull").prop("checked", true);
        }
        else {
            $("#chkFolderPermissionFull").prop("checked", false);
        }
        if (read == "True") {
            $("#chkFolderPermissionRead").prop("checked", true);
        }
        else {
            $("#chkFolderPermissionRead").prop("checked", false);
        }
        if (write == "True") {
            $("#chkFolderPermissionWrite").prop("checked", true);
        }
        else {
            $("#chkFolderPermissionWrite").prop("checked", false);
        }
        if (delte == "True") {
            $("#chkFolderPermissionDelete").prop("checked", true);
        }
        else {
            $("#chkFolderPermissionDelete").prop("checked", false);
        }
        if (isactive == "True") {
            $("#chkFolderPermissionIsActive").prop("checked", true);
        }
        else {
            $("#chkFolderPermissionIsActive").prop("checked", false);
        }
        $("#divFolderPermissionControls").show();
    });

    $(document).on("click", "#btnFolderPermissionEdit", function () {
        var full = $("#chkFolderPermissionFull").prop("checked");
        var read = $("#chkFolderPermissionRead").prop("checked");
        var write = $("#chkFolderPermissionWrite").prop("checked");
        var delte = $("#chkFolderPermissionDelete").prop("checked");
        var isactive = $("#chkFolderPermissionIsActive").prop("checked");
        var id = $("#hdnFolderPermissionId").val();

        $("#divFolderPermissionListPart").html('');

        var modal = {
            Id: id,
            HasFullControl: full,
            HasRead: read,
            HasWrite: write,
            HasDelete: delte,
            IsActive: isactive
        };

        $.ajax({
            type: "POST",
            url: "@Url.Action("Edit","ManageFolderPermission",new { area = "Folders"})",
            data: JSON.stringify(modal),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            beforeSend: function () {
                formloader();
            },
            success: function (data) {
                $("#divFolderPermissionListPart").html('');
                $("#divFolderPermissionListPart").html(data.HTML);
                $("#divFolderPermissionControls").hide();
            },
            complete: function () {
                formloaderstop();
            }
        });
    });

    $(document).on("click", ".deleteFolderPermission", function () {
        var id = $(this).attr("data-id");
        $.ajax({
            type: "POST",
            url: "@Url.Action("Delete","ManageFolderPermission",new { area = "Folders"})?id=" + id,
            data: {},
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            beforeSend: function () {
                formloader();
            },
            success: function (data) {
                $("#divFolderPermissionListPart").html('');
                $("#divFolderPermissionListPart").html(data.HTML);
            },
            complete: function () {
                formloaderstop();
            }
        });
    });
    </script>
}





