
@model DataRooms.UI.Areas.Files.Models.FileCustomModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <form method="post" action="@Url.Action("List","ManageFilePermission",new { area = "Files"})" id="frmFilePermissionList">
        <!-- DataTales Example -->
        <div class="row p-2">
            <div class="col-lg-4 font-weight-bold text-primary">
                <img src="~/CustomContent/img/dataroom3.png" class="float-left" width="20" height="20" /> <h6 class="font-weight-bold text-primary ml-5">@Model.File.DataRoomName</h6>
            </div>
            @if (Model.File.FolderId > 0)
            {
                <div class="col-lg-4 font-weight-bold text-primary">
                    <i class="fa fa-folder float-left"></i> <h6 class="font-weight-bold text-primary ml-4">@Model.File.FolderName</h6>
                </div>
            }

            <div class="col-lg-4 font-weight-bold text-primary">
                <i class="fa fa-file float-left"></i> <h6 class="font-weight-bold text-primary ml-4">@Model.File.FileName</h6>
            </div>
        </div>
        <div class="card shadow mb-4">
            <div class="card-header py-3" style="height:65px;">
                <div class="form-group row">
                    <div class="col-sm-3 mb-3 mb-sm-0">
                        <h5 class="font-weight-bold theme float-left">Permissions</h5>
                    </div>
                    <div class="col-sm-7">
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="col-form-label-sm" for="txtSearch">Search</label>
                            </div>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtSearch" placeholder="Search with User Name" name="SearchString" value="@Model.SearchString" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <a href="#" class="btn btn-primary float-right editFilePermission" data-id="0" data-toggle="modal" data-target="#filePermissionModel">+ Add</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @Html.Partial("~/Areas/Files/Views/Shared/_filepermissionslist.cshtml", Model)
                </div>
                <br />
                <div id='Paging' style="text-align:center">
                    Page @(Model.PagedFilePermissions.PageCount < Model.PagedFilePermissions.PageNumber ? 0 : Model.PagedFilePermissions.PageNumber)
                    of @Model.PagedFilePermissions.PageCount
                    <input type="hidden" name="FileId" value="@Model.FileId" />
                    <input type="hidden" name="RecordsPerPage" value="@Model.RecordsPerPage" />
                    <input type="hidden" name="CurrentPage" id="hdnCurrentPage" value="@Model.CurrentPage" />
                    <input type="hidden" name="SortOrder" id="hdnSortOrder" value="@Model.SortOrder" />
                    <input type="hidden" name="SortColumn" id="hdnSortColumn" value="@Model.SortColumn" />
                    @Html.PagedListPager(Model.PagedFilePermissions, page => "#")
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="filePermissionModel" tabindex="-1" role="dialog" aria-labelledby="filePermissionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="divFilePermissionModalContent">

        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).on("click","#btnSave", function () {
        $("#lblErrMessage").hide();
        // validations...
        var fullname = $("#txtDataRoomName").val();
        if (fullname == "") {
            $("#txtDataRoomName").css({ "border-color": "red" });
            $("#lblErrMessage").text("Please Enter SharBox Name");
            $("#lblErrMessage").show();
            return false;
        }
        else {
            $("#txtDataRoomName").css({ "border-color": "#d1d3e2" });
        }
        var username = $("#txtUserName").val();
        if (username == "") {
            $("#txtUserName").css({ "border-color": "red" });
            $("#lblErrMessage").text("Please Enter Description");
            $("#lblErrMessage").show();
            return false;
        }
        else {
            $("#txtUserName").css({ "border-color": "#d1d3e2" });
        }

        if ($(".chkPermission:checked").length == 0) {
            $("#lblErrMessage").text("Please Select Permissions");
            $("#lblErrMessage").show();
            return false;
        }
    });

    //Edit Functionality
    $(document).on("click", ".editFilePermission", function () {
        var roomid = $(this).attr("data-id");
        $.ajax({
            type: "GET",
            url: "@Url.Action("Edit","ManageFilePermission",new { area = "Files"})",
            data: { "id": roomid,"fileid":"@Model.FileId" },
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                $("#divFilePermissionModalContent").html('');
                $("#divFilePermissionModalContent").html(data.HTML);
                $("#filePermissionModel").modal("show");
            }
        });
    });

    //Delete Functionality
    @*$(document).on("click", ".deleteFilePermission", function () {
        var roomid = $(this).attr("data-id");
        window.location.href = "@Url.Action("Delete", "ManageFilePermission",new { area = "Files"})?id=" + roomid;
    });*@

    $(document).on("click", ".deleteFilePermission", function (e) {
        var roomid = $(this).attr("data-id");
        var username = $(this).attr("data-username");
        fnConfirm("Are you sure, you want to remove permissions for - " + username + "?");
        $("#btnConfirmOk").click(function () {
            formloader();
            window.location.href = "@Url.Action("Delete", "ManageFilePermission",new { area = "Files"})?id=" + roomid;
        });
    });

    //List Filter Functionality
    $("#txtSearch").change(function () {
        $("#frmFilePermissionList").submit();
    });

    //$.getJSON("/userroles/getallroles", function (data) {
    //    $.each(data, function (item, index) {
    //        alert(item.RoleName);
    //    });
    //});
</script>

