@model DataRooms.UI.Areas.Users.Models.CustomUserRoleMapping

<style>
    .text-blue {
        color: dodgerblue;
    }

    .text-red {
        color: red;
    }
</style>

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Name</th>
            <th>Role</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.PagedUserRoleMappings != null && Model.PagedUserRoleMappings.Count() > 0)
        {
            var consolidatedRoleData = from c in Model.PagedUserRoleMappings
                                       group c by new
                                       {
                                           c.UserId,
                                           c.UserName
                                       } into gcs
                                       select new DataRooms.UI.Models.UserRoleMapping()
                                       {
                                           UserId = gcs.Key.UserId,
                                           UserName = gcs.Key.UserName,
                                           RoleName = string.Join(",", gcs.Select(x => x.RoleName))
                                       };


            int i = 1;
            foreach (var user in consolidatedRoleData)
            {
                <tr>
                    <td>@i</td>
                    <td>@user.UserName</td>
                    <td>@user.RoleName</td>
                    <td><i class="fas fa-fw fa-pen text-blue editUser" data-id="@user.UserId" data-toggle="modal" data-target="#userModel"></i></td>
                    <td><i class="fas fa-fw fa-trash text-red deleteUser" data-id="@user.UserId"></i></td>
                </tr>
                i++;
            }
        }
        else
        {
            <tr>
                <td colspan="5">No Users Found..</td>
            </tr>
        }
    </tbody>
</table>