@model List<DataRooms.UI.Models.FilePermission>

@if (Model.Count == 0)
{
    <div>No Permissions found for this file..</div>
}
else
{
    <div class="row" style="border-bottom:1px solid orangered;padding:5px;margin-left:0px;margin-right:0px;">
        <div class="col-lg-4">
            <label><b>SharBox</b></label>
            <div>
                <input type="hidden" value="@Model[0].DataRoomId" id="hdnFilePermissionDataRoomId" />
                <span>@Model[0].DataRoomName</span>
            </div>
        </div>
        <div class="col-lg-4">
            <label><b>Folder</b></label>
            <div>
                <input type="hidden" value="@Model[0].FolderId" id="hdnFilePermissionFolderId" />
                <span>@Model[0].FolderName</span>
            </div>
        </div>
        <div class="col-lg-4">
            <label><b>File</b></label>
            <div>
                <input type="hidden" value="@Model[0].FileId" id="hdnFilePermissionFileId" />
                <span>@Model[0].FileName</span>
            </div>
        </div>
    </div>


    <div class="row" id="divFilePermissionControls" style="background-color:#ede2e2;display:none;margin-top:20px;margin-left:0px;margin-right:0px;">
        <div class="col-lg-3">
            <label>User</label>
            <div>
                <span><b id="bFilePermissionUser"></b></span>
                <input type="hidden" id="hdnFilePermissionId" />
            </div>
        </div>
        <div class="col-lg-5">
            <label>Permissions</label>
            <div class="row">
                <div class="col-lg-3">
                    <span>Full</span>
                    <input type="checkbox" id="chkFilePermissionFull" />
                </div>
                <div class="col-lg-3">
                    <span>Read</span>
                    <input type="checkbox" id="chkFilePermissionRead" />
                </div>
                <div class="col-lg-3">
                    <span>Write</span>
                    <input type="checkbox" id="chkFilePermissionWrite" />
                </div>
                <div class="col-lg-3">
                    <span>Delete</span>
                    <input type="checkbox" id="chkFilePermissionDelete" />
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <label>Is Active</label>
            <div>
                <input type="checkbox" id="chkFilePermissionIsActive" />
            </div>
        </div>
        <div class="col-lg-2">
            <div>
                <input type="button" class="btn btn-secondary" style="margin-top:10px;" value="Save" id="btnFilePermissionSave" />
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:10px;margin-right:0px;margin-left:0px;">
        <div class="col-lg-12" style="overflow:auto" id="divFilePermissionListPart">
            <div class="row">
                <div class="col-lg-6" align="left">
                    <h5><b>File Permissions</b></h5>
                </div>
                <div class="col-lg-6" align="right">
                    <label>Search : </label>
                    <input type="text" id="txtFilePermissionSearch" placeholder="Search with User Name.." />
                </div>
            </div>
            <table class="table table-bordered" id="tblFilePermissions" width="50%" cellspacing="0">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>User</th>
                        <th>Permission</th>
                        <th>Is Active</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count() > 0)
                    {
                        int i = 1;
                        foreach (var permission in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td class="tdFilePermissionUserName">
                                    @permission.UserName
                                </td>
                                @{
                                    List<string> permissions = new List<string>();
                                    if (permission.HasFullControl == true)
                                    {
                                        permissions.Add("Full Control");
                                    }
                                    if (permission.HasRead == true)
                                    {
                                        permissions.Add("Read");
                                    }
                                    if (permission.HasWrite == true)
                                    {
                                        permissions.Add("Write");
                                    }
                                    if (permission.HasDelete == true)
                                    {
                                        permissions.Add("Delete");
                                    }
                                }
                                <td>@string.Join(",", permissions)</td>
                                <td>@(permission.IsActive == true ? "Yes" : "No")</td>
                                <td style="cursor:pointer"><i class="fas fa-fw fa-edit theme editFilePermission" data-id="@permission.Id" data-fullcontrol="@permission.HasFullControl" data-read="@permission.HasRead" data-write="@permission.HasWrite" data-delete="@permission.HasDelete" data-isactive="@permission.IsActive"></i></td>
                                <td style="cursor:pointer"><i class="fas fa-fw fa-trash text-red deleteFilePermission" data-username="@permission.UserName" data-id="@permission.Id"></i></td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="6">No Files Found..</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>

    <script type="text/javascript">

        $(document).ready(function () {
            $('#txtFilePermissionSearch').keyup(function () {
                search_table($(this).val());
            });
            function search_table(value) {
                $('#tblFilePermissions tr').each(function () {
                    var found = 'false';
                    $(this).each(function () {
                        if ($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0) {
                            found = 'true';
                        }
                    });
                    if (found == 'true') {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });
            }
        });

    </script>

    <script>
    $(document).on("click", ".editFilePermission", function () {
        var user = $(this).parent().parent().find(".tdFilePermissionUserName").text();
        var full = $(this).attr("data-fullcontrol");
        var read = $(this).attr("data-read");
        var write = $(this).attr("data-write");
        var delte = $(this).attr("data-delete");
        var isactive = $(this).attr("data-isactive");
        var id = $(this).attr("data-id");
        $("#hdnFilePermissionId").val(id);
        $("#bFilePermissionUser").text(user);
        if (full == "True") {
            $("#chkFilePermissionFull").prop("checked", true);
        }
        else {
            $("#chkFilePermissionFull").prop("checked", false);
        }
        if (read == "True") {
            $("#chkFilePermissionRead").prop("checked", true);
        }
        else {
            $("#chkFilePermissionRead").prop("checked", false);
        }
        if (write == "True") {
            $("#chkFilePermissionWrite").prop("checked", true);
        }
        else {
            $("#chkFilePermissionWrite").prop("checked", false);
        }
        if (delte == "True") {
            $("#chkFilePermissionDelete").prop("checked", true);
        }
        else {
            $("#chkFilePermissionDelete").prop("checked", false);
        }
        if (isactive == "True") {
            $("#chkFilePermissionIsActive").prop("checked", true);
        }
        else {
            $("#chkFilePermissionIsActive").prop("checked", false);
        }
        $("#divFilePermissionControls").show();
    });

    $(document).on("click", "#btnFilePermissionSave", function () {
        var full = $("#chkFilePermissionFull").prop("checked");
        var read = $("#chkFilePermissionRead").prop("checked");
        var write = $("#chkFilePermissionWrite").prop("checked");
        var delte = $("#chkFilePermissionDelete").prop("checked");
        var isactive = $("#chkFilePermissionIsActive").prop("checked");
        var id = $("#hdnFilePermissionId").val();

        $("#divFilePermissionListPart").html('');

        var modal = {
            Id: id,
            HasFullControl: full,
            HasRead: read,
            HasWrite: write,
            HasDelete: delte,
            IsActive: isactive
        };

        $.ajax({
            type: "POST",
            url: "@Url.Action("Edit","ManageFilePermission",new { area = "Files"})",
            data: JSON.stringify(modal),
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            beforeSend: function () {
                formloader();
            },
            success: function (data) {
                $("#divFilePermissionListPart").html('');
                $("#divFilePermissionListPart").html(data.HTML);
                $("#divFilePermissionControls").hide();
            },
            complete: function () {
                formloaderstop();
            }
        });
    });

    $(document).on("click", ".deleteFilePermission", function () {
        var id = $(this).attr("data-id");
        $.ajax({
            type: "POST",
            url: "@Url.Action("Delete","ManageFilePermission",new { area = "Files"})?id=" + id,
            data: {},
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            beforeSend: function () {
                formloader();
            },
            success: function (data) {
                $("#divFilePermissionListPart").html('');
                $("#divFilePermissionListPart").html(data.HTML);
            },
            complete: function () {
                formloaderstop();
            }
        });
    });
    </script>
}





