<!DOCTYPE html>
<html lang="en">

@{ 
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SharBox - Login</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <!-- <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"> -->
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/sharbox.min.css">
    <!-- custom css -->
    <link rel="stylesheet" href="~/Content/dist/css/custom-css.css">
    <style>
        .loadings {
            font-family: Arial;
            font-size: 10pt;
            width: 200px;
            height: 100px;
            display: none;
            position: fixed;
            z-index: 99999999999999999999999;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed"
      style="background:
radial-gradient(#dddddd 3px, transparent 4px) 54px 55px / 109px 109px, radial-gradient(#ddd 3px, transparent 4px) 0px 0px / 109px 109px, linear-gradient(rgb(255, 255, 255) 4px, transparent 0px) 0px 0px / 100% 6px, linear-gradient(45deg, transparent 74px, transparent 75px, rgb(218 218 218) 75px, rgb(219 218 218) 76px, transparent 77px, transparent 109px) 0px 0px / 109px 109px, linear-gradient(-45deg, transparent 75px, transparent 76px, rgb(218 218 218) 76px, rgb(218 218 218) 77px, transparent 78px, transparent 109px) 0px 0px / 109px 109px, rgb(255, 255, 255)
">
    <div class="wrapper container">
        <!-- Preloader -->
        @*<div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/Content/dist/img/logo-icon.png" alt="share Logo" height="60" width="60">
        </div>*@
        <div class="loadings" align="center">
            <img class="animation__shake" src="~/Content/dist/img/logo-icon.png" alt="share Logo" height="60" width="60">
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="shadow mt-5 rounded bg-white">
                    <div class="row">
                        <div class="col-lg-8 d-none d-sm-block">
                            <!-- <div class="login-img">
                          <img src="dist/img/login-Logo.svg" style="height: 80vh; width:auto; margin:0 auto;background-color: #40447a;width:100%;border-radius: 5px 0 0 5px;">
                        </div> -->
                            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="login-img">
                                            <img src="~/Content/dist/img/login-Logo.svg" style="height: 80vh; width:auto; margin:0 auto;width:100%;border-radius: 5px 0 0 5px;">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="login-img">
                                            <img src="~/Content/dist/img/b-logo-2.png" style="height: 80vh; width:auto; margin:0 auto;width:100%;border-radius: 5px 0 0 5px;">
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="login-img">
                                            <img src="~/Content/dist/img/b-logo-3.png" style="height: 80vh; width:auto; margin:0 auto;width:100%;border-radius: 5px 0 0 5px;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 pr-3 pl-3 bg-light shadow">
                            <h3 style="margin-top:10vh" class="color-blue-b">LOGIN</h3>
                            <form class="user" method="post" action="@Url.Action("Login","Authenticate",new { area = "Login"})">
                                <hr>
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" class="form-control shadow-sm" id="txtUsername" name="Username" style="border-radius:35px">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control shadow-sm" id="txtPassword" name="Password" style="border-radius:35px">
                                </div>
                                <div class="form-group">
                                    @*<input type="checkbox" class="form-check-input" id="exampleCheck1">*@
                                    <a class="" style="font-size:13px;" href="/resetpassword">Forgot Password</a>
                                </div>
                                <div class="text-center mt-4">
                                    <button class="btn-curved shadow" type="submit" id="btnLogin">SUBMIT</button>
                                </div>
                                <div class="toastMessageErr animation__shake" style="display:none"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- sharbox App -->
    <script src="~/Content/dist/js/admin-sharbox.js"></script>
    <!-- SharBox dashboard demo (This is only for demo purposes) -->
    <script src="~/Content/dist/js/pages/dashboard.js"></script>
    <!-- Toast script -->
    <script>
        if ("@TempData["Notification"]" != null && "@Convert.ToString(TempData["Notification"])"!="") {
            $(".toastMessageErr").text("@Convert.ToString(TempData["Notification"])");
            $('.toastMessageErr').stop().fadeIn(400).delay(5000).fadeOut(400);

            if ("@Convert.ToString(TempData["Notification"])" == "No Active Modules Available") {
                window.location.href = "@Url.Action("GetAvailableModules", "Activate",new { area = "Activation" })";
            }
        }
        $("#btnLogin").click(function () {
            var username = $("#txtUsername").val();
            if (username == null || username == "") {
                $(".toastMessageErr").text("Please Enter User Name");
                $('.toastMessageErr').stop().fadeIn(400).delay(5000).fadeOut(400);
                return false;
            }
            var password = $("#txtPassword").val();
            if (password == null || password == "") {
                $(".toastMessageErr").text("Please Enter Password");
                $('.toastMessageErr').stop().fadeIn(400).delay(5000).fadeOut(400);
                return false;
            }
            formloader();
        });
        function formloader() {
            var modal = $('<div />');
            modal.addClass("modalss");
            $('body').append(modal);
            $(".loadings").show();
            var loading = $(".loadings");
            loading.show();
            var top = Math.max($(window).height() / 2 - loading[0].offsetHeight / 2, 0);
            var left = Math.max($(window).width() / 2 - loading[0].offsetWidth / 2, 0);
            loading.css({ top: top, left: left });
        };
    </script>
</body>
</html>
